.imgg{
    position: absolute;
    margin: 0px auto;
    left: 30vw;
    top: 100px;
    opacity: 0.99;
    
 
}

.hh{
   
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-bottom: 10px;
    /* padding-top: 10px;   */
}